nav.sidebar-nav
  #filter-container.dropdown-department.hide

  #list-container

  #footer-container
    div Amb tecnologia de
    div: a(href='http://democraciaenred.org/', target='_blank')
      img(src='/lib/sidebar/dos-logo.svg')